<ion-header>

  <ion-navbar>
    <ion-title>Einloggen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid text-center>
    <ion-row>
      <ion-col>
        <img [src]="imageone">
      </ion-col>
      <ion-col>
        <img [hidden]="!imagetwo" [src]="imagetwo">
        <img [hidden]="imagetwo" src="https://placeholdit.imgix.net/~text?txtsize=45&txt=?&w=100&h=100&txttrack=0">

      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button middle outline block (click)="chooseImage()" class="cta" color="primary" margin-bottom>Bild wählen 👨‍🔬</button>
  <p text-center>oder</p>
  <ion-item>
    <ion-input placeholder="https://url.com/img.jpg" [(ngModel)]="imagetwo" type="url"></ion-input>
  </ion-item>

  <button ion-button middle outline block (click)="login()" class="cta" color="primary" margin-bottom [disabled]="!imagetwo || loading">Let's Check 😎 <ion-spinner [hidden]="!loading"></ion-spinner></button>

  <button ion-button middle outline block (click)="clear()" class="cta" color="primary" margin-bottom style="opacity: .4">Alles löschen</button>


</ion-content>
