page-login {
    ion-content {
        background-color: color($colors, secondary)!important;
    }
    ion-range,
    ion-item {
        background-color: transparent !important;
        color: #fff;
    }
    .item-md,
    .item-inner {
        padding-left: 0;
        padding-right: 0 !important;
    }
    img {
        height: 100px;
        margin: 10px;
        border-radius: 2px;
        box-shadow: 0 10px 35px rgba(0, 0, 0, .4);
    }
}