// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.cta {
    margin: 2em auto 0 auto;
    display: block;
}

user-header {
    display: block;
    width: 100%;
    padding: 2em;
    text-align: center;
    ion-range,
    ion-item {
        background-color: transparent !important;
        color: #fff;
    }
    h1 {
        padding: 20px 0;
        text-align: center;
        font-weight: 100;
    }
    img {
        height: 100px;
        margin: 10px;
        border-radius: 2px;
        box-shadow: 0 10px 35px rgba(0, 0, 0, .4);
    }
    .item-inner {
        border-bottom: 0 !important;
    }
    .item-md,
    .item-inner {
        padding-left: 0;
        padding-right: 0 !important;
    }
    #lbl {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .85em;
        margin-top: 0;
        text-align: center;
    }
    .range-md .range-pin {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
    }
}