page-secred-data {
    ion-content {
        background-color: color($colors, secondary)!important;
    }
    ion-card {
        overflow: visible;
        .item-inner {
            box-shadow: 0 0 0 0!important;
            border-bottom: 1px solid #dedede!important;
        }
    }
    .elements {
        position: relative;
        border-bottom: 1px solid #ddd;
        .delete {
            position: absolute;
            top: -15px;
            right: -23px;
        }
        ion-note {
            font-size: 1.6rem!important;
            color: #666;
        }
        input {
            outline: none;
            border: none;
            font-size: 1.6rem;
            line-height: normal;
            text-overflow: inherit;
            color: #666;
            text-align: right;
        }
    }
}