<ion-header>

  <ion-navbar color="primary">
    <ion-title>Speicher</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="SettingsPage">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-list no-lines>
      <ion-item>
        <ion-input placeholder="Name" [(ngModel)]="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Benutzer" [(ngModel)]="user" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Passwort" [(ngModel)]="password" type="text"></ion-input>
      </ion-item>


    </ion-list>
    <div padding>
      <button ion-button color="primary" outline block (click)="addToList()">
        Hinzufügen
      </button>
    </div>

  </ion-card>

  <ion-card *ngFor="let item of passwordlist" class="elements">
    <ion-card-header>
      {{ item.name }}
    </ion-card-header>
    <ion-item>
      <ion-label fixed (click)="copytoClipbord(item.user)">Benutzer</ion-label>
      <ion-input type="text" [(ngModel)]="item.user"></ion-input>
    </ion-item>

    <ion-item margin-bottom>
      <ion-label fixed>Passwort</ion-label>
      <ion-input #input [(ngModel)]="item.password" type="password"></ion-input>
    </ion-item>

    <ion-row no-padding text-center>
      <ion-col no-padding col-4>
        <button ion-button clear small color="danger" icon-left (click)="removeItem(item)">
            <ion-icon name='trash'></ion-icon>
            Löschen
          </button>
      </ion-col>
      <ion-col no-padding col-4>
        <button ion-button clear small icon-left color="grey" (click)="showPassword(input)">
            <ion-icon name='eye'></ion-icon>
            Passwort
          </button>
      </ion-col>
      <ion-col no-padding col-4>
        <button ion-button clear small icon-left color="grey" (click)="copytoClipbord(item.password)">
            <ion-icon name='copy'></ion-icon>
            Kopieren
          </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <div padding>
    <button ion-button middle outline block (click)="logout()" class="cta" color="primary" margin-bottom>Abmelden</button>
    <button ion-button middle outline block (click)="clear()" class="cta" color="primary" margin-bottom>Alles löschen</button>
  </div>



</ion-content>
